/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

.flex-wrapper {
    margin: 100px 100px;
    max-width: 100%;
}
.calculator-content {
}
.calculator-content-title {
    /* margin-bottom: 50px; */
    margin-top: 30px;
}
.calculator-content-body {
    display: flex;
}
.calculator-content-body-left {
}
.calculator-content-body-left-inputs {
}
.input-wrapper {
    border: 1px solid rgb(172, 187, 190);
    margin-bottom: 5px;
    padding-left: 5px;
}
.title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.input {
}
.input-range {
}
.calculator-content-body-left-btns {
}

.bank {
    margin-right: 5px;
}
.active {
    border: 1px solid rgb(78, 220, 255);
}
.text {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}
.value {
}

.text-value {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.title-calculator {
    margin-bottom: 30px;
}

.title-choice {
    margin-bottom: 30px;
}

.calculator-content-body-right {

}


.final-results-wrapper {
    margin-left: 40px;

}
.final-result-item {
    margin-left: 20px;
    padding-bottom: 20px;
}


.alfa-style {
    background-color: rgb(255, 0, 0);
}
.sberbank-style {
    background-color: rgb(2, 235, 14);
}
.pochta-style {
    background-color: rgb(70, 70, 250);
}
.tinkoff-style {
    background-color: rgb(255, 230, 0);
}